<?xml version="1.0" encoding="UTF-8"?>
<!--
	Configuration for PHPUnit testing
    @package P7DataStructure
    @author  Sven Schrodt<sven@schrodt-servoce.net>
    @version 0.1
    @since 2021-10-17
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="Bootstrap.php" colors="true" verbose="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>./</directory>
    </include>
    <exclude>
      <directory>public</directory>
    </exclude>
  </coverage>
  <php>
    <env name="PROJECT_NAME" value="P7DataStructure"/>
  </php>
  <testsuites>
    <testsuite name="Testing P7DataStructure">
      <directory>./test/</directory>
    </testsuite>
  </testsuites>
</phpunit>
